#hosimg {
  position: absolute;
  width: 375px;
  height: 880px;
  left: 0px;
  top: 0px;
}

#leftframe {
  width: 23.4375rem;
  height: 61.375rem;
  flex-shrink: 0;

  background: #ffffff;
}

#toptitle {
  width: 11.8125rem;
  height: 1.4375rem;
  flex-shrink: 0;

  color: #000;
  /* headline1 */
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#hospitalimg {
  width: 23.625rem;
  height: 54.0625rem;

  left: 0%;
  top: 0%;
}

#purplebox {
  width: 23.625rem;
  height: 13.3125rem;
  flex-shrink: 0;

  border-radius: 1.25rem 1.25rem 0rem 0rem;
  background: var(--m-2, #811fff);
}

#hospitalname {
  width: 13.4375rem;
  height: 3.0625rem;
  flex-shrink: 0;
  color: var(--white, #ffffff);
  /* headline3 */
  font-family: Pretendard;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0%; /* 0rem */
}

#address {
  width: 19.5rem;
  height: 1.4375rem;
  flex-shrink: 0;
  color: var(--white, #ffffff);
  /* subtitle1 */
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#myhospital {
  /* 나의 병원 */

  position: absolute;
  width: 189px;
  height: 23px;
  left: 443px;
  top: 88px;

  /* headline1 */
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

#hospname {
  /* 병원A */

  position: absolute;
  width: 639px;
  height: 90px;
  left: 484px;
  top: 140px;

  /* headline3 */
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: justify;

  /* s4 */
  color: #00e85d;
}

#scorement {
  /* 평점 */

  position: absolute;
  width: 166px;
  height: 23px;
  left: 1278px;
  top: 88px;

  /* headline1 */
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

#scorebox {
  /* Frame 124 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;

  position: absolute;
  width: 250px;
  height: 28px;
  left: 1340px;
  top: 146px;

  /* white */
  background: #ffffff;
  /* highlight4 */
  box-shadow: 0px 0px 22px 2px rgba(0, 232, 93, 0.25);
  border-radius: 20px;
}

#myreviewment {
  /* 나의 리뷰 */

  position: absolute;
  width: 189px;
  height: 23px;
  left: 448px;
  top: 320px;

  /* headline1 */
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

#myreviewbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 1140.79px;
  height: 420.79px;
  left: 493px;
  top: 403px;
  /* white */
  background: #ffffff;
  /* highlight4 */
  box-shadow: 0px 0px 22px 2px rgba(0, 232, 93, 0.25);
  border-radius: 15px;
}

#reviewcontent {
  /* 안녕하세요. 질문자님, 00산부인과 전문의 000입니다. 질문 해주신 내용에 대한 답변은 다음과 같습니다. 안녕하세요. 질문자님, 00산부인과 전문의 000입니다. 질문 해주신 내용에 대한 답변은 다음과 같습니다. 안녕하세요. 질문자님, 00산부인과 전문의 000입니다. 질문 해주신 내용에 대한 답변은 다음과 같습니다. 안녕하세요. 질문자님, 00산부인과 전문의 000입니다. 질문 해주신 내용에 대한 답변은 다음과 같습니다. */

  position: absolute;
  width: 1050px;
  height: 410px;
  left: 41px;
  top: 34px;

  /* headline1 */
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;

  /* m3 */
  color: #5600c2;
}
