#hospitalinfo {
  position: relative;
  margin: 0 auto;
  float: right;
  width: 189px;
  height: 80px;
  top: 30px;
}
#ment1 {
  position: absolute;
  width: 720px;
  height: 33px;
  left: 181px;
  top: 140px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#newqnawrite {
  width: 160px;
  height: 50px;
  margin-left: 1250px;
  margin-top: 140px;
}

#reviewment {
  /* 그동안 내가 작성한 리뷰에요 */

  position: absolute;
  width: 711px;
  height: 42px;
  left: 278px;
  top: 490px;

  /* headline3 */
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;

  color: #000000;
}

#newreviewwrite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  position: absolute;
  width: 160px;
  height: 50px;
  left: 1365px;
  top: 490px;
}
